*.aux
*.d
*.dvi
*.glo
*.idx
*.ilg
*.ind
*.ist
*.fls
*.tdo
*.glg
*.gls
*.lof
*.log
*.lol
*.lot
*.make
*.nav
*.nlo
*.out
*.ps
*.pdfpc
*.snm
*.toc
*.vrb
# maybe not such a good idea.
/*.pdf
/*.make.temp

